@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    /*font-size: 62.5%;*/
    font-family: Poppins;
}

.Home__Fanbase {
    margin-top: 50px;
    display: flex;
    width: 100vw;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("assets/bg-circle.png") no-repeat center #212121;
    background-size: 100vw;
    height: 500px;
    color: #FFFFFF;
}

.Home__Fanbase H2 {
    font-size: 2rem;
}

.Home__Fanbase H3 {
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

.Home__Fanbase i {
    font-size: 2.5rem;
    color: #6122B3;
}

.Fanbase__Pictures {
    position: relative;
    width: 60%;
    padding: 30px 0px 80px 80px;
}

.Pictures__1 {
    position: absolute;
    width: 30%;
    border-radius: 2px;
    left: 110px;
}

.Pictures__2 {
    position: absolute;
    width: 40%;
    border-radius: 2px;
    right: 20px;
}

.Pictures__3 {
    position: absolute;
    width: 45%;
    border-radius: 2px;
    right: 0px;
    top: 150px;
}

.Pictures__4 {
    position: absolute;
    width: 30%;
    height: 20%;
    object-fit: cover;
    border-radius: 2px;
    left: 110px;
    top: 180px;
}

.Pictures__5 {
    position: absolute;
    width: 28%;
    border-radius: 2px;
    bottom: 85px;
    left: 100px
}

.Pictures__6 {
    position: absolute;
    width: 40%;
    border-radius: 2px;
    right: 15px;
    bottom: 40px;
}

.Fanbase__FText {
    width: 40%;
    padding: 80px 80px 50px 80px;
}

.FText__Title {
    padding-right: 40px;
}

.FText__Body {
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 30px;
}

.FText__1 {
    display: flex;
    flex-direction: row;
}

.FText__2 {
    display: flex;
    flex-direction: row;
}

.FText__3 {
    display: flex;
    flex-direction: row;
    align-self: flex-start;
}

.FText__Icon {
    align-self: center;
    width: 50px;
    text-align: center;
    padding: 10px;
}

.FText__Text {
    display: flex;
    flex-direction: column;
}

@media only screen and (max-width: 780px) {
    .Home__Fanbase {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        width: 100%;
        background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("assets/bg-circle.png") no-repeat center #212121;
        background-size: 100vw;
        background-size: cover;
        height: 1000px;
        color: #FFFFFF;
    }
    .Fanbase__FText {
        width: 100%;
        height: 40%;
        box-sizing: border-box;
    }
    .FText__Title {
        width: 100%;
        margin-bottom: 40px;
        box-sizing: border-box;
    }
    .FText__Body {
        padding: 0;
        height: 80%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: flex-start;
        justify-content: flex-start;
        align-items: center;
        box-sizing: border-box;
    }
    .Home__Fanbase H2 {
        font-size: 2rem;
    }
    .Home__Fanbase H3 {
        font-size: 1.5rem;
        font-weight: 500;
        margin-bottom: 1rem;
    }
    .Home__Fanbase i {
        font-size: 3rem;
        color: #6122B3;
        margin: auto;
    }
    .Home__Fanbase p {
        font-size: 1.5rem;
        font-weight: 200;
    }
    .FText__1 {
        display: flex;
        flex-direction: row;
        width: 50%;
        height: 150px;
    }
    .FText__2 {
        display: flex;
        flex-direction: row;
        width: 50%;
        height: 140px;
    }
    .FText__3 {
        display: flex;
        align-self: flex-start;
        flex-direction: row;
        width: 50%;
        height: 150px;
    }
    .FText__Icon {
        align-self: center;
        width: 80px;
        text-align: center;
        padding-bottom: 50px;
    }
    .Fanbase__Pictures {
        width: 100%;
        height: 50%;
        padding: 5px;
        box-sizing: border-box;
    }
    .Pictures__1 {
        width: 30%;
        border-radius: 2px;
    }
    .Pictures__2 {
        width: 40%;
        border-radius: 2px;
    }
    .Pictures__3 {
        width: 45%;
        border-radius: 2px;
    }
    .Pictures__4 {
        width: 30%;
        height: 20%;
        object-fit: cover;
        border-radius: 2px;
    }
    .Pictures__5 {
        width: 28%;
        border-radius: 2px;
    }
    .Pictures__6 {
        width: 40%;
        border-radius: 2px;
    }
}

@media only screen and (max-width: 480px) {
    .Home__Fanbase {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        width: 100%;
        background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("assets/bg-circle.png") no-repeat center #212121;
        background-size: 100vw;
        background-size: cover;
        height: 1500px;
        color: #FFFFFF;
    }
    .Fanbase__FText {
        width: 100%;
        height: 40%;
        box-sizing: border-box;
    }
    .FText__Title {
        width: 100%;
        margin-bottom: 40px;
        box-sizing: border-box;
    }
    .FText__Body {
        padding: 0;
        height: 80%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: stretch;
        box-sizing: border-box;
    }
    .Home__Fanbase H2 {
        font-size: 2rem;
    }
    .Home__Fanbase H3 {
        font-size: 1.5rem;
        font-weight: 500;
        margin-bottom: 1rem;
    }
    .Home__Fanbase i {
        font-size: 3rem;
        color: #6122B3;
        margin: auto;
    }
    .Home__Fanbase p {
        font-size: 1.5rem;
        font-weight: 200;
    }
    .FText__1 {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 150px;
    }
    .FText__2 {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 140px;
    }
    .FText__3 {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 150px;
    }
    .FText__Icon {
        align-self: center;
        width: 80px;
        text-align: center;
        padding-bottom: 50px;
    }
    .Fanbase__Pictures {
        width: 100%;
        height: 50%;
        padding: 5px;
        box-sizing: border-box;
    }
    .Pictures__1 {
        width: 30%;
        border-radius: 2px;
    }
    .Pictures__2 {
        width: 40%;
        border-radius: 2px;
    }
    .Pictures__3 {
        width: 45%;
        border-radius: 2px;
    }
    .Pictures__4 {
        width: 30%;
        height: 20%;
        object-fit: cover;
        border-radius: 2px;
    }
    .Pictures__5 {
        width: 28%;
        border-radius: 2px;
    }
    .Pictures__6 {
        width: 40%;
        border-radius: 2px;
    }
}
