body{
    margin:0;
    padding:0;
    font-family: 'Poppins', sans-serif;
    font-size: 62%;
}

main{
    margin:auto;
    max-width: 100%;
}

/* SECTION ABOUT */
.about__container{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 1150px;
    margin:auto;
}

.about__item{
    width: 550px;
}

.about__img{
    width: 465px;
    border-radius: 10px;
}

.about__title{
    display: inline-block;
    margin-top: 5px;
    margin-bottom: -10px;
}

.about__p{
    font-size: 1rem;
    font-weight: 200;
}


.about__q{
    font-size:1.6rem;
    padding: 15px;
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
}

/* SECTION DISCOGRAPHY */

.latest{
   background-image: url("assets/homepage-latest-releases-background.jpg");
   height: 370px;
   text-align: center;
}

.latest__title{
    color:white;
}
/* TITRES */

.title-2{
    font-size: 1.8rem;
}
