@media only screen and (max-width: 480px){
/* Général */
body{
    margin: 0;
    padding:0;
}
main {
    margin: auto;
    /*max-width: 100%;*/
    font-family: 'Poppins', sans-serif;
}
/* FLEX CONTACT */
.contact {
    margin-bottom: 58px;
}
.container-contact {
    display: flex;
    flex-wrap: wrap;
    max-width: 480px;
    /*margin: auto;*/
    justify-content: center;
    align-items: center;
    
}
/* flex contact items */
.item-contact {
    max-width: 240px;
    
}
/* personnalisation contact*/
.item-contact h2 {
    font-weight: 500;
    font-size: 1.2rem;
    display: inline-block;
    margin-bottom: 5px;
}
hr {
    display: inline-block;
    width: 130px;
    color: #c4c4c4;
}
.logos {
    font-size: 0.95rem;  
    display: inline-block;
}

.signature {
    margin-left: 68px;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 174px;
    height: 50px;
}
.button {
    background-color: #8121e0;
    /* Green */
    border-radius: 5px;
    color: white;
    padding: 15px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0.7rem;
    font-weight: 600;
    margin-top: -15px;
}
.margin-left {
    margin-left: 0;
}
/* personnalisation photo */
.photo-bio {
    margin-top: 33px;
    max-width: 240px;
}
/* --------------- */
/* FLEX MUSIC */
.music {
    background-color: #f5f5f5;
    background-image: url("assets/bg-circle-2.png");
}
.center {
    text-align: center;
}
.h2-title {
    display: inline-block;
    margin-bottom: 30px;
    font-size: 1.5rem;
    margin-top: 57px;
}
.container-music {
    display: flex;
    flex-wrap: wrap;
    max-width: 480px;
    margin: auto;
}
.music-item, .release-item {
    flex-basis: 480px;
    margin-bottom: 50px;
    text-align: center;
    /*display: flex;*/
}
.music-title {
    /*margin-left: 70px;*/
    /*margin-top: -80px;*/
}
.music-title h3, .release-title {
    font-weight: 400;
    font-size: 1.4rem;
    margin-bottom: 30px;
    margin-top: 15px;
}
.music-div-p {
    margin-top: -15px;
}

.music-p{
    font-size: 0.97rem ;
}

.music-logo {
    font-size: 2.3rem;
}
/* ------------ */
/*  FLEX RELEASE */
.container-release {
    display: flex;
    flex-wrap: wrap;
    max-width: 480px;
    margin: auto;
    justify-content: center;
    margin-bottom: 25px;
}
.item-release {
    /*margin-right: 30px;*/
    /*margin-bottom: 170px;*/
    text-align: center;
}
.item-release img {
    width: 325px;
    height: 355px;
}
.release-title {
    text-align: center;
}
.release-p1 {
    margin-bottom: 65px;
}
.release-p2 {
    text-align: center;
    margin-top: -20px;
    font-size: 0.75rem;
    letter-spacing: 0.1rem;
}
/* FLOAT */
.clear {
    clear: both;
    /* enlève le float */
}
/* COULEURS */
.grey {
    color: #c4c4c4;
}
/* filter: opacity(valeur entre 0 et 1) */
/* MARGINS */
.bottom {
    margin-bottom: 35px;
}
.right-m {
    margin-right: 10px;
}
.margin-top {
    margin-top: -70px;
}
.margin-right {
    margin-right: 0;
}

.small-margin-r{
    margin-right: 70px;
}
/* PARAGRAPHES STYLES */
.light-p {
    margin-top: -25px;
    font-size: 0.65rem;
    font-weight: 200;
    margin-bottom: 14px;
}
.italic-p {
    margin: top -10px;
    font-style: italic;
    font-weight: 200;
    font-size: 0.80rem;
    letter-spacing: 0.1rem;
}
.padding {
    padding: 12px;
}

.contact-p{
    font-size:0.95rem;
    margin-top: 5px;
    margin-bottom: -15px;
}


.light-p-size{
    font-size: 0.97rem;
}


}







@media only screen and (min-width: 480px) and (max-width: 768px){
    /* Général */
    body {
        margin: 0;
        padding: 0;
    }
    main {
        margin: auto;
        /*max-width: 100%;*/
        font-family: 'Poppins', sans-serif;
    }
    /* FLEX CONTACT */
    .contact {
        margin-bottom: 76px;
    }
    .container-contact {
        display: flex;
        flex-wrap: wrap;
        max-width: 768px;
        /*margin: auto;*/
        justify-content: center;
        align-items: center;
    }
    /* flex contact items */
    .item-contact {
        width: 384px;
    }
    /* personnalisation contact*/
    .item-contact h2 {
        font-weight: 500;
        font-size: 1.4rem;
        margin-bottom: 10px;
    }
    hr {
        display: inline-block;
        width: 230px;
        color: #c4c4c4;
    }
    .logos {
        font-size: 1.2rem;
    }
    .signature {
        margin-left: 220px;
        margin-top: 10px;
        margin-bottom: 20px;
        width: 174px;
        height: 50px;
    }
    .button {
        background-color: #8121e0;
        /* Green */
        border-radius: 5px;
        color: white;
        padding: 14px 28px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 0.8rem;
        font-weight: 600;
    }
    .margin-left {
        margin-left: 0;
    }
    /* personnalisation photo */
    .photo-bio {
        margin-top: 33px;
        max-width: 384px;
    }
    /* --------------- */
    /* FLEX MUSIC */
    .music {
        background-color: #f5f5f5;
        background-image: url("assets/bg-circle-2.png");
    }
    .center {
        text-align: center;
    }
    .h2-title {
        display: inline-block;
        margin-bottom: 76px;
        font-size: 1.4rem;
        margin-top: 84px;
    }
    .container-music {
        display: flex;
        flex-wrap: wrap;
        max-width: 768px;
        justify-content: center;
        align-items: center;
    }
    .music-item, .release-item {
        flex-basis: 345px;
        margin-bottom: 40px;
        /*display: flex;*/
    }
    .music-title {
        margin-left: 100px;
        margin-top: -80px;
    }
    .music-title h3, .release-title {
        font-weight: 400;
        font-size: 1.4rem;
    }
    .music-p {
        margin-left: 100px;
        margin-top: -15px;
        
    }
    .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .music-logo {
        font-size: 2rem;
        margin-top: 5px;
        margin-left: 30px;
    }
    /* ------------ */
    /*  FLEX RELEASE */
    .container-release {
        display: flex;
        flex-wrap: wrap;
        max-width: 1140px;
        margin: auto;
    }
    .item-release {
        margin-right: 30px;
        margin-bottom: 170px;
    }
    .item-release img {
        width: 350px;
    }
    .release-title {
        text-align: center;
    }
    .release-p1 {
        margin-bottom: 65px;
    }
    .release-p2 {
        text-align: center;
        margin-top: -20px;
        font-size: 0.75rem;
        letter-spacing: 0.1rem;
    }
    /* FLOAT */
    .clear {
        clear: both;
        /* enlève le float */
    }
    /* COULEURS */
    .grey {
        color: #c4c4c4;
    }
    /* filter: opacity(valeur entre 0 et 1) */
    /* MARGINS */
    .bottom {
        margin-bottom: 30px;
    }
    .right-m {
        margin-right: 12px;
    }
    .margin-top {
        margin-top: -70px;
    }
    .margin-right {
        margin-right: 0;
    }

    .logos-position{
        margin-top: -20px;
    }
    /* PARAGRAPHES STYLES */
    .light-p {
        font-size: 0.55rem;
        font-weight: 200;
    }

    .light-p-size{
        font-size: 1rem;
    }

    .p-tablet{
        margin-top:-15px;
    }
    .italic-p {
        font-style: italic;
        font-weight: 200;
        font-size: 0.57rem;
        letter-spacing: 0.1rem;
    }
    
    .padding {
        padding: 10px;
    }
    
    
    
}





@media only screen and (min-width: 768px) {
    /* Général */
    body {
        margin: 0;
        padding: 0;
    }
    main {
        margin: auto;
        max-width: 100%;
        font-family: 'Poppins', sans-serif;
    }
    /* FLEX CONTACT */
    .contact {
        margin-bottom: 120px;
    }
    .container-contact {
        display: flex;
        flex-wrap: wrap;
        max-width: 1140px;
        margin: auto;
    }
    /* flex contact items */
    .item-contact {
        width: 570px;
    }
    /* personnalisation contact*/
    .item-contact h2 {
        font-weight: 500;
        font-size: 2rem;
    }
    hr {
        display: inline-block;
        width: 230px;
        color: #c4c4c4;
    }
    .logos {
        font-size: 1.2rem;
        
    }
    .signature {
        margin-left: 365px;
        margin-top: 10px;
        margin-bottom: 20px;
    }
    .button {
        background-color: #8121e0;
        /* Green */
        border-radius: 5px;
        color: white;
        padding: 15px 30px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 1rem;
        font-weight: 600;
    }
    .margin-left {
        margin-left: 0;
    }
    /* personnalisation photo */
    .photo-bio {
        margin-top: 33px;
        margin-left: 70px;
        width: 500px;
        height: 526px;
    }
    /* --------------- */
    /* FLEX MUSIC */
    .music {
        background-color: #f5f5f5;
        background-image: url("assets/bg-circle-2.png");
    }
    .center {
        text-align: center;
    }
    .h2-title {
        display: inline-block;
        margin-bottom: 76px;
        font-size: 2.3rem;
        margin-top: 122px;
    }
    .container-music {
        display: flex;
        flex-wrap: wrap;
        max-width: 1140px;
        margin: auto;
    }
    .music-item, .release-item {
        flex-basis: 380px;
        margin-bottom: 96px;
        /*display: flex;*/
    }
    .music-title {
        margin-left: 70px;
        margin-top: -80px;
    }
    .music-title h3, .release-title {
        font-weight: 400;
        font-size: 1.4rem;
    }
    .music-p {
        margin-left: 70px;
        margin-top: -15px;
    }
    .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .music-logo {
        font-size: 2.3rem;
    }
    /* ------------ */
    /*  FLEX RELEASE */
    .container-release {
        display: flex;
        flex-wrap: wrap;
        max-width: 1140px;
        margin: auto;
    }
    .item-release {
        margin-right: 30px;
        margin-bottom: 170px;
    }
    .item-release img {
        width: 350px;
    }
    .release-title {
        text-align: center;
    }
    .release-p1 {
        margin-bottom: 65px;
    }
    .release-p2 {
        text-align: center;
        margin-top: -20px;
        font-size: 0.75rem;
        letter-spacing: 0.1rem;
    }
    /* FLOAT */
    .clear {
        clear: both;
        /* enlève le float */
    }
    /* COULEURS */
    .grey {
        color: #c4c4c4;
    }
    /* filter: opacity(valeur entre 0 et 1) */
    /* MARGINS */
    .bottom {
        margin-bottom: 30px;
    }
    .right-m {
        margin-right: 30px;
    }
    .margin-top {
        margin-top: -70px;
    }
    .margin-right {
        margin-right: 0;
    }
    /* PARAGRAPHES STYLES */
    .light-p {
        font-size: 0.9rem;
        font-weight: 200;
    }
    .italic-p {
        font-style: italic;
        font-weight: 200;
        font-size: 1.10rem;
        letter-spacing: 0.1rem;
    }
    .padding {
        padding: 10px;
    }
}